@model TAST_Store.ViewModels.ProductViewModel
<div class="panel panel-primary">

    <div class="panel-heading panel-heading-prod">
        <i class="fa fa-spinner fa-
spin"></i> Tất cả sản phẩm
    </div>

    <div class="panel-body">
        
        <div class="row">
            @foreach (var item in Model.Prods)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="~/@item.Img1" class="img-rounded" alt="@item.NamePro" style="height: 235px;">
                        <div class="caption">
                            <h4>@item.NamePro</h4>
                            @if (item.Sale != null)
                            {
                                <p class="rainbow-text">Giá sale: @string.Format("{0:N0}", item.Price - (item.Price * item.Sale)) VNĐ</p>
                            }
                            else
                            {
                                <p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
                            }
                            
                            <p>
                                <a href="san-pham/@item.Link-@item.IdPro" class="btn btn-info" role="button"><i class="fa fa-rocket"></i> Chi tiết</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel-footer text-center">
        @if (Model.TotalPages > 1)
        {
            int currentPage = Model.Page; 

            <ul class="pagination justify-content-center">
                @if (currentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Product", new { page = 1, pageSize = Model.PageSize })">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Product", new { page = currentPage - 1, pageSize = Model.PageSize })">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Product", new { page = i, pageSize = Model.PageSize })">@i</a>
                    </li>
                }

                @if (currentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Product", new { page = currentPage + 1, pageSize = Model.PageSize })">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Product", new { page = Model.TotalPages, pageSize = Model.PageSize })">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>